@{
    var systemdate = DateTime.Now.Date;
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Event_Management.Entities.Models.EventsDetailList


<div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Title</th>
                <th scope="col">Event Desc</th>
                <th scope="col">Event Creator</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Venue</th>
                <th scope="col">Status</th>
                <th scope="col" class="ps-4">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfEvents)
            {
                <tr>
                    <td> @item.EventTitle</td>
                    <td class="eventDesc" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;max-width: 0;">
                        @item.EventDesc
                    </td>
                    <td>@item.Creator</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.Vanue</td>
                    @if (@item.StartDate.Date <= @systemdate && @item.EndDate.Date >= @systemdate)
                    {
                        <td>OnGoing</td>
                    }
                    else if (@item.EndDate.Date < @systemdate)
                    {
                        <td>Completed</td>
                    }
                    else if (@item.StartDate.Date > @systemdate)
                    {
                        <td>Upcoming</td>
                    }

                    <td class="px-auto">
                        <span class="d-flex">
                            <a asp-controller="Home" asp-action="UpdateEvent" class="btn align-items-center justify-content-center mx-3 my-2 participateBtn" asp-route-eventId=@item.EventId>
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="btn align-items-center justify-content-center mx-3 my-2 participateBtn" onclick="deleteEvent(@item.EventId)">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row justify-content-center ">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>
<script src="~/js/CreatedEventsPage.js" asp-append-version="true"></script>